<div layout-align="center center" class="main" ng-cloak>

    <md-card>
        <md-card-title>
            <h1>Introduction</h1>
        </md-card-title>
        <md-card-content>
            <div>
                This is the analysis exercise. Here you will explore data from a real proton-proton collision to ultimately find
                signal decays hidden amongst a large background continuum. Starting with mbb, work through each variable, apply cuts on
                the data for each variable to maximise the purity and significance of your data sample. Before finalising your cut selection
                you are encouraged to experiment with a range of cut values to see how the purity and significance vary as a result.
                <br>
                <br>
                The data in this exercise is simulated data, you will use this to define a set of cuts. At the end you will find out how
                your cuts perform on REAL data.
            </div>
        </md-card-content>
    </md-card>

    <md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom>
        <!-- mbb tab -->
        <md-tab label="mbb">
            <md-content class="md-padding">
                <div layout="row" layout-wrap ng-model="hideCards" ng-hide="hideCards">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">mbb signal/background</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="mbbHistSigBg"></div>
                            <br>
                            <input type="range" id="mbbSlider" ng-model="mbbSlider">
                            <br>
                            <text>Slider cut value: {{ mbbSlider }}</text>
                            <br>
                            <text> Signal efficiency: {{ sigEfficiency }} </text>
                            <div class="mbbSigOverBg"></div>
                            <md-button class="md-raised md-primary" ng-click="purityPlotPoint('$scope.currentDatapoint'); significancePlotPoint('$scope.currentSignificanceDatapoint')">Check purity and significance</md-button>
                            <md-button class="md-raised md-warn" ng-click="showDialog($event)">Finalise cut selection</md-button>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">mbb signal purity plot</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div class="mbbPurityScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Significance</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="mbbSignificanceScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Current Purity and Significance</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content></md-card-content>
                    </md-card>
                </div>
            </md-content>
        </md-tab>

        <!-- dr tab -->
        <md-tab label="dr">
            <div ></div>
        </md-tab>

        <!-- hpt tab -->
        <md-tab label="hpt">
            <div ng-include="''"></div>
        </md-tab>

        <!-- taupt tab -->
        <md-tab label="taupt">
            <div ng-include="''"></div>
        </md-tab>

    </md-tabs>

    <md-button class="md-raised md-primary" ng-click="go('/report')">Write Report</md-button>
</div>