<div layout-align="center center" class="main" ng-cloak>

    <md-card>
        <md-card-title>
            <h1>Introduction</h1>
        </md-card-title>
        <md-card-content>
            <div>
                This is the analysis exercise. Here you will explore data from a real proton-proton collision to ultimately find
                signal decays hidden amongst a large background continuum. Starting with mbb, work through each variable, apply cuts on
                the data for each variable to maximise the purity and significance of your data sample. Before finalising your cut selection
                you are encouraged to experiment with a range of cut values to see how the purity and significance vary as a result.
                <br>
                <br>
                The data in this exercise is simulated data, you will use this to define a set of cuts. At the end you will find out how
                your cuts perform on REAL data.
            </div>
        </md-card-content>
    </md-card>

    <md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom>
        <!-- mbb tab -->
        <md-tab label="mbb">
            <md-content class="md-padding">
                <div layout="row" layout-wrap ng-model="hideCards" ng-hide="hideCards">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">mbb signal/background</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="mbbHistSigBg"></div>
                            <br>
                            <text> Signal efficiency: {{ sigEfficiency }} </text>
                            <div class="mbbSigOverBg"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">mbb signal purity plot</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div class="mbbPurityScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Significance</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="mbbSignificanceScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <div>
                            insert something which watches the cut value and prints the current significance and purity
                        </div>
                        <div layout="column">
                            <md-button class="md-raised md-primary" ng-click="purityPlotPoint('$scope.currentDatapoint')">Check Purity</md-button>
                            <md-button class="md-raised md-primary" ng-click="significancePlotPoint('$scope.currentSignificanceDatapoint')">Check Significance</md-button>
                        </div>
                        <md-button  class="md-raised md-warn" ng-click="showDialog($event)">Finalise cut selection</md-button>

                        <h1>Current Significance: {{ currentSignificanceDatapoint }}</h1>
                        <h1>Current Purity: {{ currentPurityDatapoint }}</h1>
                    </md-card>

                </div>
            </md-content>
        </md-tab>

        <!-- DR TAB -->
        <md-tab label="dr">
            <md-content class="md-padding">
                <div layout="row" layout-wrap ng-model="hideCards" ng-hide="hideCards">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">dr signal/background</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="drHistSigBg mbb"></div>
                            <br>
                            <text> Signal efficiency: {{ sigEfficiency }} </text>
                            <div class="mbbSigOverBg"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">mbb signal purity plot</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div class="drPurityScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Significance</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="drSignificanceScatter"></div>
                        </md-card-content>
                    </md-card>



                </div>
            </md-content>
        </md-tab>

        <!-- HPT TAB -->
        <md-tab label="hpt">
            <md-content class="md-padding">
                <div layout="row" layout-wrap ng-model="hideCards" ng-hide="hideCards">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">hpt signal/background</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="hptHistSigBg hpt"></div>
                            <br>
                            <text> Signal efficiency: {{ sigEfficiency }} </text>
                            <div class="hptSigOverBg"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">mbb signal purity plot</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div class="mbbPurityScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Significance</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="mbbSignificanceScatter"></div>
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </md-tab>

        <!-- TAUPT TAB -->
        <md-tab label="taupt">
            <md-content class="md-padding">
                <div layout="row" layout-wrap ng-model="hideCards" ng-hide="hideCards">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">hpt signal/background</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="tauptHistSigBg taupt"></div>
                            <br>
                            <text> Signal efficiency: {{ sigEfficiency }} </text>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">mbb signal purity plot</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div class="mbbPurityScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Significance</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="mbbSignificanceScatter"></div>
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </md-tab>

    </md-tabs>

    <md-button class="md-raised md-primary" ng-click="go('/report')">Write Report</md-button>
    <md-button class="md-raised md-primary" ng-click="go('/analysistwo')">Sensitivity Exercise</md-button>
</div>