<div>

    <h2>Analysis Exercise</h2>

    <md-tabs ng-repeat="variable in datasets.hh4.variables">
        <md-tab label="{{ variable.name }}"></md-tab>
    </md-tabs>

    <p class="lead">

        <h1>mbb</h1>
        <div class="mbbHist"></div>
        <input type="range" id="mbbSlider" ng-model="mbbSlider">
        <h3>(From controller) slider/cut value: {{ mbbSlider }}</h3>

        <h1>dr</h1>
        <div class="drHist"></div>
        <input type="range" id="drSlider" ng-model="drSlider">
        <h3>(From controller) slider/cut value: {{ drSlider }}</h3>

        <h1>hpt</h1>
        <div class="hptHist"></div>
        <input type="range" id="hptSlider" ng-model="hptSlider">
        <h3>(From controller) slider/cut calue: {{ hptSlider }}</h3>

        <h1>ng-range-slider</h1>
        <section data-range-slider ng-model="testing"></section>
        <h3> {{ testing }} </h3>

    </p>


</div>

<!-- test hist:
<h1>pT test</h1>
<div class="ptHist"></div>
<input type="range" ng-model="ptSlider">
<h3>(From controller) slider/cut value: {{ ptSlider }}</h3>
-->