<div layout-align="center center" class="main" ng-cloak>

    <md-card>
        <md-card-title>

        </md-card-title>
    </md-card>

    <md-card>
        <md-card-title>
            <h1>Introduction</h1>
        </md-card-title>
        <md-card-content>
            <div>
                This is the analysis exercise. Here you will explore data from a real proton-proton collision to ultimately find
                signal decays hidden amongst a large background continuum. Starting with mbb, work through each variable, apply cuts on
                the data for each variable to maximise the purity and significance of your data sample. Before finalising your cut selection
                you are encouraged to experiment with a range of cut values to see how the purity and significance vary as a result.
                <br>
                <br>
                The data in this exercise is simulated data, you will use this to define a set of cuts. At the end you will find out how
                your cuts perform on REAL data.
            </div>
        </md-card-content>
    </md-card>

    <md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom md-selected="selectedTab">
        <!-- mbb tab -->
        <md-tab label="mbb">
            <md-content class="md-padding">
                <div layout="row" layout-wrap ng-model="hideCards" ng-hide="hideCards">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">mbb signal/background</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="mbbHistSigBg"></div>
                            <br>
                            <text> <h1>Current cut value:</h1> {{ newSelection["mbb"] }} </text>
                            <div class="mbbSigOverBg"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">mbb signal purity plot</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div class="mbbPurityScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Significance</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="mbbSignificanceScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <div layout="column" flex>
                            <md-button class="md-raised md-primary" ng-click="purityPlotPoint('.mbbPurityScatter', 'mbb')"><h1>check purity</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="significancePlotPoint('.mbbSignificanceScatter', 'mbb')"><h1>check significance</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="revealPurityPoints('mbb', '.mbbPurityScatter')"><h1>reveal purity points</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="revealSigPoints('mbb', '.mbbSignificanceScatter')"><h1>reveal significance points</h1></md-button>
                        </div>
                        <md-button  class="md-raised md-warn" ng-click="finaliseCut('mbb')"><h1>finalise cut selection</h1></md-button>
                    </md-card>
                </div>
            </md-content>
        </md-tab>

        <!-- DR TAB -->
        <md-tab label="dr">
            <md-content class="md-padding">
                <div layout="row" layout-wrap ng-model="hideCards" ng-hide="hideCards">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">dr signal/background</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="drHistSigBg"></div>
                            <br>
                            <text> Signal efficiency: {{ sigEfficiency }} </text>
                            <div class="drSigOverBg"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">dr signal purity plot</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div class="drPurityScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Significance</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="drSignificanceScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <div layout="column" flex>
                            <md-button class="md-raised md-primary" ng-click="purityPlotPoint('.drPurityScatter', 'dr')"><h1>check purity</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="significancePlotPoint('.drSignificanceScatter', 'dr')"><h1>check significance</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="revealPurityPoints('dr', '.drPurityScatter')"><h1>reveal purity points</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="revealSigPoints('dr', '.drSignificanceScatter')"><h1>reveal significance points</h1></md-button>
                        </div>
                        <md-button  class="md-raised md-warn" ng-click="finaliseCut('dr')"><h1>finalise cut selection</h1></md-button>
                    </md-card>

                </div>
            </md-content>
        </md-tab>

        <!-- HPT TAB -->
        <md-tab label="hpt">
            <md-content class="md-padding">
                <div layout="row" layout-wrap ng-model="hideCards" ng-hide="hideCards">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">hpt signal/background</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="hptHistSigBg hpt"></div>
                            <br>
                            <text> Signal efficiency: {{ sigEfficiency }} </text>
                            <div class="hptSigOverBg"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">hpt signal purity plot</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div class="hptPurityScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Significance</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="hptSignificanceScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <div layout="column" flex>
                            <md-button class="md-raised md-primary" ng-click="purityPlotPoint('.hptPurityScatter', 'hpt')"><h1>check purity</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="significancePlotPoint('.hptSignificanceScatter', 'hpt')"><h1>check significance</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="revealPurityPoints('hpt', '.hptPurityScatter')"><h1>reveal purity points</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="revealSigPoints('hpt', '.hptSignificanceScatter')"><h1>reveal significance points</h1></md-button>
                        </div>
                        <md-button class="md-raised md-warn" ng-click="finaliseCut('hpt')"><h1>finalise cut selection</h1></md-button>
                    </md-card>

                </div>
            </md-content>
        </md-tab>

        <!-- TAUPT TAB -->
        <md-tab label="taupt">
            <md-content class="md-padding">
                <div layout="row" layout-wrap ng-model="hideCards" ng-hide="hideCards">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">hpt signal/background</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="tauptHistSigBg taupt"></div>
                            <br>
                            <text> Signal efficiency: {{ sigEfficiency }} </text>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">taupt signal purity plot</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div class="tauptPurityScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Significance</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div class="tauptSignificanceScatter"></div>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <div layout="column">
                            <md-button class="md-raised md-primary" ng-click="purityPlotPoint('.tauptPurityScatter', 'taupt')"><h1>check purity</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="significancePlotPoint('.tauptSignificanceScatter', 'taupt')"><h1>check significance</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="revealPurityPoints('taupt', '.tauptPurityScatter')"><h1>reveal purity points</h1></md-button>
                            <md-button class="md-raised md-primary" ng-click="revealSigPoints('taupt', '.tauptSignificanceScatter')"><h1>reveal significance points</h1></md-button>
                        </div>
                        <md-button  class="md-raised md-warn" ng-click="finaliseCut('taupt')"><h1>finalise cut selection</h1></md-button>
                    </md-card>
                </div>
            </md-content>
            <md-button class="md-raised md-primary" ng-click="go('/analysistwo')">Move on to sensitivity exercise</md-button>
        </md-tab>

    </md-tabs>

    <md-button class="md-raised md-primary" ng-click="go('/report')">Write Report</md-button>

</div>