<!-- TODO: ng-repeat the plots and filter according to dataset and variables selection defined by the user -->

<div layout-align="center center" class="main">

    <!-- dataset selector -->
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">dataset selector</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <span>Toggle different datasets using the switches below.</span>
            <md-switch ng-model="ttbar3Switch" ng-change="onChange('data/ttbar3.json', ttbar3Switch)">
                ttbar3
            </md-switch>
            <md-switch ng-model="hh4Switch" ng-change="onChange('data/hh4.json', hh4Switch)">
                hh+4
            </md-switch>
        </md-card-content>
    </md-card>

    <div layout="row" layout-wrap ng-model="hideCards" ng-hide="hideCards">

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">mbb</span>
                    <span class="md-subhead"><i>what is mbb?</i></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="mbbHist varHist"></div>
                <h3>Lower cut:</h3>
                <input type="range" id="mbbSlider" ng-model="mbbSlider">
                <br>
                <h3>Upper cut:</h3>
                <input type="range" id="mbbSlider" ng-model="mbbSlider2">
                <br>
                <span>(from controller) slider/cut value: {{ mbbSlider }}</span>
                <br>
                <span>slider2: {{ mbbSlider2 }}</span>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">dr</span>
                    <span class="md-subhead"><i>what is dr?</i></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="drHist varHist"></div>
                <h3>Lower cut:</h3>
                <input type="range" id="drSlider" ng-model="drSlider">
                <br>
                <h3>Upper cut:</h3>
                <input type="range" id="drSlider" ng-model="drSlider2">
                <br>
                <span>(from controller) slider/cut value: {{ drSlider }}</span>
                <br>
                <span>slider2: {{ drSlider2 }}</span>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">hpt</span>
                    <span class="md-subhead"><i>what is hpt?</i></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="hptHist varHist"></div>
                <h3>Lower cut:</h3>
                <input type="range" id="hptSlider" ng-model="hptSlider">
                <br>
                <h3>Upper cut:</h3>
                <input type="range" id="hptSlider" ng-model="hptSlider2">
                <br>
                <span>(from controller) slider/cut value: {{ hptSlider }}</span>
                <br>
                <span>slider2: {{ hptSlider2 }}</span>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">taupt</span>
                    <span class="md-subhead"><i>what is taupt?</i></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="tauptHist varHist"></div>
                <h3>Lower cut:</h3>
                <input type="range" id="tauptSlider" ng-model="tauptSlider">
                <br>
                <h3>Upper cut:</h3>
                <input type="range" id="tauptSlider" ng-model="tauptSlider2">
                <br>
                <span>(from controller) slider/cut value: {{ tauptSlider }}</span>
                <br>
                <span>slider2: {{ tauptSlider2 }}</span>

            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content>
                something.
            </md-card-content>
        </md-card>
    </div>
    <md-button class="md-raised md-primary" ng-click="go('/report')">Write Report</md-button>
    <md-button class="md-raised md-primary" ng-click="go('/analysistest')">Analysis test page</md-button>
</div>

<!-- test hist:
<h1>pT test</h1>
<div class="ptHist"></div>
<input type="range" ng-model="ptSlider">
<h3>(From controller) slider/cut value: {{ ptSlider }}</h3>
-->