<div layout-padding>
    <h1>Data Dashboard</h1>

    <md-button class="md-warn bgbutton md-raised">
        Background 1
    </md-button>

    <md-button class="md-warn bgbutton md-raised">
        Background 2
    </md-button>

    <md-button class="md-primary signalbtn md-raised" ng-click="go('/analysis')">
        Signal
    </md-button>

    <!-- old buttons, delete when alternative is implemented -
        <span>

            <button class="btn btn-lg btn-info" ng-click="moreInfo('bg1')">Info</button>
        </span>
        <br>
        <span>
            <button class="btn btn-lg btn-warning">Background 2</button>
            <button class="btn btn-lg btn-info" ng-click="moreInfo('bg2')">Info</button>
        </span>
        <br>
        <span>
            <button class="btn btn-lg btn-success">Signal</button>
            <button class="btn btn-lg btn-info" ng-click="moreInfo('sig')">Info</button>
        </span>
        <br>
    -->
</div>


