<div>
    <div class="panel panel-default" ng-controller="dashboardController">
        <div class="panel-heading">
            <h3 class="panel-title">Data</h3>
        </div>
        <div class="panel-body">
            <h1>{{welcome}}</h1>
            <span>
                <button class="btn btn-lg btn-warning">Background 1</button>
                <button class="btn btn-lg btn-info" ng-click="moreInfo('bg1')">Info</button>
            </span>
            <br>
            <span>
                <button class="btn btn-lg btn-warning">Background 2</button>
                <button class="btn btn-lg btn-info" ng-click="moreInfo('bg2')">Info</button>
            </span>
            <br>
            <span>
                <button class="btn btn-lg btn-success">Signal</button>
                <button class="btn btn-lg btn-info" ng-click="moreInfo('sig')">Info</button>
            </span>
            <br>
            <span>
            <button class="btn-success" ng-click="go('/analysis')">Analysis</button>
            </span>
        </div>
    </div>
</div>