<!DOCTYPE html>
<html>
	<head>
		<title>ppoutreach</title>

		<!-- dependencies -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
		<script src="http://d3js.org/d3.v4.0.0-alpha.45.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-cookies.min.js"></script>

        <link rel="stylesheet" type="text/css" href="mystylesheet.css">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
        <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.min.css"/>

        <!--angular-rangeslider -->
        <script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
        <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css">

		<!--angularjs-slider-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.css">

		<!-- app and controllers -->
		<script src="app.js"></script>
	    <script src="login.controller.js"></script>
		<script src="intro.controller.js"></script>
		<script src="dashboard.controller.js"></script>
		<script src="analysis.controller.js"></script>
		<script src="analysis.directive.js"></script>
		<script src="main.controller.js"></script>
        <script src="selection.controller.js"></script>
        <script src="report.controller.js"></script>
        <script src="analysistest.controller.js"></script>

		<!-- Angular Material Dependencies -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>

		<!-- ngMdIcons -->
		<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

		<!-- material icons: -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- roboto font: -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

	</head>
	<body layout-fill layout="row" ng-cloak ng-app="ppoutreach" ng-controller="mainController">

        <md-sidenav flex ng-include="'sidenav.html'" ng-hide="$state.includes('Login')" layout-fill layout="column"
        class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        </md-sidenav>

        <!-- TODO: put toolbar in toolbar.html and ng-include -->
        <div layout="column">
            <md-toolbar class="main-toolbar" ng-hide="$state.includes('Login')">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="openLeftMenu()">
                        <i class="material-icons">menu</i>
                    </md-button>
                    <h1><span>PPoutreach > {{ $state.current.name }}</span></h1>
                    <span flex></span>
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)" >
                            <i class="material-icons">more_vert</i>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item><md-button ng-click="logout()">Logout</md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>

            <md-content flex layout="row" ng-cloak layout-fill>
                <ui-view flex></ui-view>
            </md-content>
        </div>
    </body>
</html>