<!DOCTYPE html>
<html>
	<head>
		<title>ppoutreach</title>

		<!-- dependencies -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.2.js"></script>
		<script src="http://d3js.org/d3.v4.0.0-alpha.45.min.js" charset="utf-8"></script>

		<link rel="stylesheet" type="text/css" href="mystylesheet.css">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
        <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.min.css"/>

		<!--ng-range-slider-->
		<script src="bower_components/ng-range-slider/dist/ng-range-slider.js"></script>

		<!-- app and controllers -->
		<script src="app.js"></script>
	    <script src="login.controller.js"></script>
		<script src="intro.controller.js"></script>
		<script src="dashboard.controller.js"></script>
		<script src="analysis.controller.js"></script>
		<script src="analysis.directive.js"></script>
		<script src="main.controller.js"></script>
        <script src="selection.controller.js"></script>

		<!-- Angular Material Dependencies -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>

		<!-- ngMdIcons -->
		<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

		<!-- material icons: -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- roboto font: -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

	</head>
	<body layout="column" ng-cloak ng-app="ppoutreach" ng-controller="mainController">

        <md-toolbar class="main-toolbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="openLeftMenu()">
                    <i class="material-icons">menu</i>
                </md-button>
                <h1><span>PPoutreach</span></h1>
                <span flex></span>
                <md-menu>
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <i class="material-icons">more_vert</i>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item><md-button ng-click="logout()">Logout</md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <div layout="row" layout-fill role="main">

            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-disable-backdrop md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-tall">
                    <span flex></span>
                    <div layout="column" class="md-toolbar-tools-bottom inset">
                        <user-avatar></user-avatar>
                        <span></span>
                        <div>Firstname Lastname</div>
                        <div>email@domainname.com</div>
                    </div>
                </md-toolbar>
                <md-list>
                    <md-subheader class="md-no-sticky">Favorites</md-subheader>
                    <md-item ng-repeat="item in menu">
                        <a>
                            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                                <div class="inset">
                                    {{item.title}}
                                </div>
                            </md-item-content>
                        </a>
                    </md-item>
                </md-list>
            </md-sidenav>


            <md-content layout="column" flex md-scroll-y>
                <!-- ui-router view: -->
                <ui-view layout="column" layout-fill layout-padding></ui-view>
            </md-content>
        </div>


    </body>
</html>