<!-- putting login form on a material card: -->

<div class="login">
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Welcome!</span>
				<span class="md-subhead">Please login:</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<div layout="column">
				<md-input-container>
					<label>Username</label>
					<input ng-model="username">
				</md-input-container>
				<md-button class="md-raised md-primary" ng-click="submit()" type="submit">Sign in</md-button>
			</div>
		</md-card-content>
	</md-card>
</div>
