<!-- contents of toolbar go here: -->

<div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="openLeftMenu()">
        <i class="material-icons">menu</i>
    </md-button>
    <h1><span>PPoutreach > {{ $state.current.name }} > {{ cookieVal }}</span></h1>
    <span flex></span>
    <md-menu>
        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)" >
            <i class="material-icons">more_vert</i>
        </md-button>
        <md-menu-content>
            <md-menu-item><md-button ng-click="logout()">Logout</md-button></md-menu-item>
        </md-menu-content>
    </md-menu>
</div>